includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
	level: 5
	paths:
		- plugin/magazine73
	bootstrapFiles:
		- phpstan-bootstrap.php
	excludePaths:
		- plugin/magazine73/third-party/*
		- plugin/magazine73/templates/*
